
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* body * {
    outline: 1px solid  pink;
} */

.banner-text  {
    padding: 20px;
    background-color: rgb(240,240,240);
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.bar-container {
    display: flex;
    flex: 1;
    justify-content: center;
 
}

.color-bar {
    padding: 20px;
    width: 650px;
    background-color: rgb(50,50,50);
    color: white;
    border-radius: 20px;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    margin-top: 250px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

#btn {
    outline: none;
    display: block;
    padding: 20px;
    border: none;
    border-radius: 20px;
}

